@media (max-width: 768px) {
    html{
        overflow: scroll;
        background: url(../img/bg.jpg);
        background-size: cover;
        background-repeat: repeat;
    }

    /* Layar Hitam */
    .jumbotron::after{
        content: '';
        display: block;
        background:rgba(0, 0, 0, 0.4);
        position: fixed;
    }
}